@{

}
<el-button @@click="btnClick">点击我</el-button>
<el-button @@click="test">测试</el-button>
<el-button @@click="create()">测试弹出窗</el-button>
<select id="sex">
    <option value="">请选择</option>
    <option value="1">男</option>
    <option value="0">女</option>
</select>
<tree-table :data="tableData" name="name" id-name="id" parent-name="pid">
    <el-table-column prop="date"
                     label="日期"
                     width="180">
    </el-table-column>
    <el-table-column prop="name"
                     label="姓名"
                     width="180">
    </el-table-column>
    <el-table-column prop="address"
                     label="地址">
    </el-table-column>
</tree-table>
<br />
<el-table :data="tableData" max-height="400">
    <el-table-column prop="id" label="id" type="selection" fixed></el-table-column>
    <el-table-tree-column fixed :expand-all="true"
                          file-icon="icon icon-file"
                          folder-icon="icon icon-folder"
                          prop="name"
                          label="title"
                          parent-key="pid"
                          child-key="id"
                          :show-overflow-tooltip="true" width="320"
                          :indent-size="20">
        <template slot-scope="scope">
            <span>prefix =></span>
            <span @@click="text(scope)">{{scope.row.name}} -- {{scope.row.id}}</span>
            <span>
                <=suffix
            </span>
        </template>
    </el-table-tree-column>
    <el-table-column prop="address"
                     label="地址"></el-table-column>
</el-table>
<br />
<el-table :data="model.menus" max-height="400">
    <el-table-column prop="id" label="id" type="selection" fixed></el-table-column>
    <el-table-tree-column fixed :expand-all="true"
                          file-icon="icon icon-file"
                          folder-icon="icon icon-folder"
                          prop="label"
                          label="title"
                          child-key="children"
                          :show-overflow-tooltip="true" width="320"
                          :indent-size="20">
        <template slot-scope="scope">
            <span>prefix =></span>
            <span @@click="text(scope)">{{scope.row.label}} -- {{scope.row.id}}</span>
            <span>
                <=suffix
            </span>
        </template>
    </el-table-tree-column>
    <el-table-column prop="description"
                     label="Description"></el-table-column>
</el-table>


@using (ElementUI.BeginFormDialog(new MvcVueDialog.Options()
{
    title = "你好",
    visible = ".sync:dialogVisible",
    beforeClose = ":handleClose"
}))
{
    <div>你好我 我临时卡第三方诶酸辣粉ie</div>
}


@section styles{
    <style>
        select#sex {
            width: 100px;
        }

        select option[value=''] {
            color: gray;
        }
    </style>
}

@section scripts{
    <script src="~/Views/Home/data.js"></script>
}