@{

}
<el-button @@click="btnClick">点击我</el-button>
<el-button @@click="test">测试</el-button>
<select id="sex">
    <option value="">请选择</option>
    <option value="1">男</option>
    <option value="0">女</option>
</select>


@section styles{
    <style>
        select#sex {
            width: 100px;
        }

        select option[value=''] {
            color: gray;
        }
    </style>
}
