@{
    ViewBag.Title = "Home Page";
}

<el-row :gutter="20">
    <el-col :span="6"><div class="grid-content bg-purple">aaa</div></el-col>
    <el-col :span="6"><div class="grid-content bg-purple">ddd</div></el-col>
    <el-col :span="6"><div class="grid-content bg-purple">eee</div></el-col>
    <el-col :span="6"><div class="grid-content bg-purple">fff</div></el-col>
</el-row>