@using AdminTemplate.Models;
@model Triangle
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Point</title>
</head>
<body>
    <div> 
        @Html.DisplayForModel()
    </div>
</body>
</html>
