@{
    ViewBag.Title = "菜单管理";
}

<el-card class="box-card h100">
    <div slot="header" class="clearfix">
        <span>菜单管理</span>
        <div class="tools-button">
            <el-button type="primary" size="mini" @@click="createMenu()">添加根菜单</el-button>
        </div>
    </div>
    <div class="text item">
        <el-row type="flex" :gutter="10">
            <el-col :span="8">
                <el-card class="box-card">
                    <div class="grid-content">
                        <el-tree ref="menuTree"
                                 v-loading="loading.tree"
                                 :data="menuTree"
                                 node-key="id"
                                 default-expand-all
                                 :expand-on-click-node="false"
                                 @@node-click="nodeClick"
                                 @@node-drop="handleDrop"
                                 draggable>
                            <span class="custom-tree-node" slot-scope="{ node, data }">
                                <span>
                                    <i :class="node.icon"></i>
                                    {{ node.label }}
                                </span>
                                <span>
                                    <el-button type="text"
                                               size="mini"
                                               @@click="createMenu(data)">
                                        添加子菜单
                                    </el-button>
                                    <el-button type="text"
                                               size="mini"
                                               @@click="modifyMenu(data)">
                                        编辑
                                    </el-button>
                                    <el-button type="text"
                                               size="mini"
                                               @@click="setOperation(data)">
                                        功能
                                    </el-button>
                                    <el-button type="text"
                                               size="mini"
                                               @@click="removeMenu(data,node)">
                                        删除
                                    </el-button>
                                </span>
                            </span>
                        </el-tree>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="16">
                <el-card class="box-card">
                    <el-table :data="tableData"
                              size="small"
                              :row-class-name="parentClassName"
                              style="width: 100%">
                        <el-table-column prop="Title" label="名称" width="120">
                        </el-table-column>
                        <el-table-column prop="Url" label="地址" width="180">
                        </el-table-column>
                        <el-table-column label="功能按钮">
                            <template slot-scope="scope">
                                <el-button v-for="item in scope.row.Operations" size="mini">
                                    {{ item.Name }}
                                </el-button>
                            </template>
                        </el-table-column>
                        <el-table-column prop="_CreateDate" label="创建时间" width="100">
                        </el-table-column>
                    </el-table>
                </el-card>
            </el-col>
        </el-row>
    </div>
</el-card>

@section dialogs{
    <el-dialog ref="menuDialog"
               :title="menuTitle"
               :visible.sync="dialogVisible"
               width="500px"
               :before-close="handleClose">
        <div>
            <el-form ref="menuForm" :model="menuForm" :rules="rules" label-width="100px">
                <el-form-item label="父级菜单">
                    <el-input v-model="parentName" readonly=""></el-input>
                </el-form-item>
                <el-form-item label="菜单名称" prop="Title">
                    <el-input v-model="menuForm.Title"></el-input>
                </el-form-item>
                <el-form-item label="菜单图标">
                    <el-input v-model="menuForm.Icon"></el-input>
                </el-form-item>
                <el-form-item label="连接地址" prop="Url">
                    <el-input v-model="menuForm.Url" placeholder="请输入连接地址"></el-input>
                </el-form-item>
            </el-form>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @@click="btnSubmit">确 定</el-button>
        </span>
    </el-dialog>

    <el-dialog ref="opDialog"
               :visible.async="opDialog.visible"
               :title="opDialog.title"
               width="80%">
        <div>
            <el-checkbox-group v-model="checkList">
                <el-checkbox v-for="item in operationList" :label="item.Name"></el-checkbox>
            </el-checkbox-group>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button>取 消</el-button>
            <el-button type="primary" @@click="saveOperation">确 定</el-button>
        </span>
    </el-dialog>
}

@section styles{
    <style>
        .custom-tree-node {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            padding-right: 8px;
        }

        .el-table .parent-row {
            background: oldlace;
        }
    </style>
}