
@{
    ViewBag.Title = "用户组管理";
}

<el-card class="box-card h100">
    <div slot="header" class="clearfix">
        <span>用户组管理</span>
        <div class="tools-button">
            <el-button size="mini" type="primary" @@click="setGroup()">添加</el-button>
            <el-button size="mini" type="danger" @@click="createUser()">删除</el-button>
            <el-button size="mini" type="primary" @@click="createUser()">修改</el-button>
            <el-button size="mini" type="success" @@click="createUser()">导出</el-button>
        </div>
    </div>
    <div class="text item">
        <div class="is-bordered form-box">
            <el-form :inline="true" size="mini" :model="formInline" class="demo-form-inline" label-width="100px">
                <el-form-item label="用户组名称">
                    <el-select v-model="formInline.region" placeholder="请输入用户组名称">
                        <el-option label="区域一" value="shanghai"></el-option>
                        <el-option label="区域二" value="beijing"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary">查询</el-button>
                </el-form-item>
            </el-form>
        </div>
        <tree-table :data="tableData"
                name="Name" 
                id-name="Id" 
                parent-name="ParentId"
                size="small"
                style="width: 100%">
            <el-table-column prop="Description" label="描述信息"></el-table-column>
            <el-table-column label="操作" width="300" fixed="right">
                <template slot-scope="scope">
                    <el-button @@click="edit" type="primary" size="mini">编辑</el-button>
                    <el-button @@click="remove" type="danger" size="mini">删除</el-button>
                    @Html.RenderAuthority("el-button", new
               {
                   @click = "@Event",
                   type = "text",
                   size = "samll",
                   text = "@Name"
               })
                </template>
            </el-table-column>
        </tree-table>
    </div>
</el-card>

<el-dialog ref="groupDialog"
           :title="groupTitle"
           :visible.sync="dialogVisible"
           width="500px"
           :before-close="handleClose">
    <div>
        <el-form ref="formModel" :model="formModel" :rules="rules" label-width="100px">
            <el-form-item label="父级组">
                <el-input v-model="formModel.ParentName" readonly="readonly"></el-input>
            </el-form-item>
            <el-form-item label="组名称" prop="Name">
                <el-input v-model="formModel.Name"></el-input>
            </el-form-item>
            <el-form-item label="描述" prop="Description">
                <el-input type="textarea" rows="5" v-model="formModel.Description"></el-input>
            </el-form-item>
        </el-form>
    </div>
    <span slot="footer" class="dialog-footer">
        <el-button @@click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @@click="btnSubmit">确 定</el-button>
    </span>
</el-dialog>