
@{
    ViewBag.Title = "用户组管理";
}

<el-card class="box-card h100">
    <div slot="header" class="clearfix">
        <span>用户组管理</span>
        <div class="tools-button">
            <el-button size="mini" type="primary" @@click="create()">添加</el-button>
            <el-button size="mini" type="danger" @@click="remove()">删除</el-button>
            <el-button size="mini" type="primary" @@click="modify()">修改</el-button>
            <el-button size="mini" type="success" @@click="downLoad()">导出</el-button>
        </div>
    </div>
    <div class="text item">
        <div class="is-bordered form-box">
            <el-form :inline="true" size="mini" :model="formInline" class="demo-form-inline" label-width="100px">
                <el-form-item label="用户组名称">
                    <el-select v-model="formInline.region" placeholder="请输入用户组名称">
                        <el-option label="区域一" value="shanghai"></el-option>
                        <el-option label="区域二" value="beijing"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary">查询</el-button>
                </el-form-item>
            </el-form>
        </div>
        <tree-table :data="tableData"
                    name="Name"
                    id-name="Id"
                    parent-name="ParentId"
                    size="small"
                    style="width: 100%">
            <el-table-column prop="Description" label="描述信息"></el-table-column>
            <el-table-column label="操作" width="300" fixed="right">
                <template slot-scope="scope">
                    <el-button @@click="modify(scope.row)" type="primary" size="mini">编辑</el-button>
                    <el-button @@click="remove(scope.row)" type="danger" size="mini">删除</el-button>
                    @Html.RenderAuthorityDefault()
                </template>
            </el-table-column>
        </tree-table>
    </div>
</el-card>

@section dialogs{
    <el-dialog ref="modelDialog"
               :title="modelDialog.title"
               :visible.sync="modelDialog.visable"
               :before-close="dialogClose"
               width="500px">
        <div>
            <el-form ref="model_form" :model="modelForm" :rules="rules" label-width="100px">
                <el-form-item label="父级组">
                    <el-input v-model="modelForm.ParentName" readonly="readonly"></el-input>
                </el-form-item>
                <el-form-item label="组名称" prop="Name">
                    <el-input v-model="modelForm.Name"></el-input>
                </el-form-item>
                <el-form-item label="描述" prop="Description">
                    <el-input type="textarea" rows="5" v-model="modelForm.Description"></el-input>
                </el-form-item>
            </el-form>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="dialogClose(self=>self.modelDialog.visable=false)">取 消</el-button>
            <el-button type="primary" @@click="submit">确 定</el-button>
        </span>
    </el-dialog>
}